---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Abutalib-Barish Namazov</h1>
  <p>
    I am an engineer focused on computer science and software engineering. I
    grew up in Baku, Azerbaijan and graduated with an undergraduate degree from
    MIT in May 2024. My <a href="/about">about page</a> has a bit more. You can also
    check out my setup and tools I use in
    <a href="/computing">computing page</a>.
  </p>
  <p>
    While I am eager about too many areas of computer science, lately I have
    been thinking more about software design and modularity, especially in web
    development. I occasionally write about my experiences in the <a
      href="/blog">blog</a
    >. I always appreciate feedback or questions about my posts. You can reach
    out to me via <a href="mailto:hello@barish.me">email</a>.
  </p>
  <p>
    I am not currently looking for a job, but I am always interested in talking
    about ideas and products. You can take a look into my <a href="/resume"
      >resume</a
    >.
  </p>
</Layout>
