---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <ul>
      <li>
        <HeaderLink href="/"> Home </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog"> Blog </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about"> About </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/resume"> Resume </HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: #f8f8f8;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    margin: 0 1rem;
  }
</style>
